# هاي الملفات كلها مش هيشوفها 
# ----------------------
# هرفع  كل الملفات ماعدا عدا الملف الي بمتدادا txt
*.txt
*.exe
*.log
#  هيتجاهل كل الملفات بانفس الامتداد معادا هدا الي بنفس الاسم
!rana-vip.txt
# الموضع مش بس على الامتدادات 
# يبنطبق هدا على الملفات برضوا 
team-2laravalphp/
# ممكن ملف جوات الteam-2laravalphp/
team2.exx
# ممكن  من برضوا نظيف ملف ممنوع  بنظاف من ال gitignore
# عن طريق امر ال --force or-f
